services:
  web-app:
    build:
      context: backend
      dockerfile: Dockerfile
    ports:
      - "8080"
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
      cache:
        condition: service_started
  
  db:
    container_name: db
    image: postgres:15-alpine
    env_file:
      - .env
    ports:
      - "5433:5432"
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
      - p4data:/var/lib/postgresql/data

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user4 -d p4"]
      interval: 10s
      retries: 5
      timeout: 10s
      start_period: 30s
  
  cache:
    container_name: cache
    image: redis:8.6-alpine
    ports:
      - "6380:6379"
  
  proxy:
    container_name: proxy
    image: nginx:1.29-alpine
    volumes:
      - type: bind
        source: ./proxy/nginx.conf
        target: /etc/nginx/conf.d/default.conf
        read_only: true
    ports:
      - "8081:80"
    depends_on:
      - web-app

volumes:
  p4data: