services:
  web-app:
    container_name: web-app
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8081:8080"
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
      cache:
        condition: service_started
  
  db:
    container_name: db
    image: postgres:15-alpine
    env_file:
      - .env
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user4 -d p4"]
      interval: 10s
      retries: 5
      timeout: 10s
      start_period: 30s
  
  cache:
    container_name: cache
    image: redis:8.6-alpine
    ports:
      - "6380:6379"